<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <footer class="py-4 bg-light mt-5">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            
            <div>
              <a href="https://wa.me/5561998270529?text=Ol%C3%A1%20Juliana,%20preciso%20de%20suporte." target="_blank"
                rel="noopener noreferrer" class="whats-link text-decoration-none d-inline-flex align-items-center"
                aria-label="Suporte técnico via WhatsApp">               
                <span class="text-muted"></span>                
              </a>            
            </div>
            </div>
            </div>
      </footer>
    </main>
  </div>
</div>
