h1.mt-4 {
    color: #2f86e2;
}

.breadcrumb {
    background-color: #b2d0f7;
    color:rgb(59, 59, 59);
}

#layoutSidenav_content main { 
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#layoutSidenav_content main::before {
    content: "";   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.08;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.marg-top {
    padding-top: 30px !important;
}

.pai {
    background-color: #6caafc;
}

.sb-topnav {
    background-color: #6caafc;
}
